.toast-enter-active[data-v-a75ce1b6],.toast-leave-active[data-v-a75ce1b6]{transition:all .3s ease}.toast-enter-from[data-v-a75ce1b6],.toast-leave-to[data-v-a75ce1b6]{opacity:0;transform:translate(-50%,-20px)}
