.toast-enter-active[data-v-303c98fc],.toast-leave-active[data-v-303c98fc]{transition:all .3s ease}.toast-enter-from[data-v-303c98fc],.toast-leave-to[data-v-303c98fc]{opacity:0;transform:translate(-50%,-20px)}
